/* Global Elements */
* { }

body {
    position: relative;
}

html { }

/* Specific Elements */
.connection-progress-bar {
    width: 100%;
}

.fit {
    margin-left: 0;
    margin-right: 0;
}

.logo {
    margin-left: 40%;
    margin-right: 40%;
    height: 20%;
    width: 20%;
}

.move-button {
    width: 100%;
}

.open-cv-terminal {
    height: 480px;
    width: 640px;    
}

.rawgraph {
    font-family: monospace;
}

.title {
    text-align: center;
}
