/* Global Elements */
* { }

body {
    background-color: #000;
    position: relative;
}

html { }

/* Specific Elements */
.face {
    height: 100%;
    width: 100%;
}

.eyes {
    position: relative;
    margin-bottom: 20%;
    margin-top: 20%;
}

.eyes:after {
    position: relative;
    content: "";
    display: table;
    clear: both;
}

.eye {
    background-color: #ff0000;
    box-shadow: 0 0 15px 15px #ff0000;
    float: left;
    height: 10px;
    width: 25%;
    margin-left: 10%;
    margin-right: 10%;
}
